# BTG Pactual - Análise de sentimentos

**INTEGRANTES:**


1. Dayllan de Souza Alho
2. Eric Tachdjian
3. Gabriela de Morais da Silva
4. Giovanna Furlan Torres
5. Lucas de Britto Vieira
6. Michel Mansur

# Introdução


**1.Problema a ser resolvido:**
O BTG Pactual enfrenta o desafio de otimizar suas estratégias de marketing digital e entender melhor o comportamento e preferências dos consumidores nas redes sociais. Com o aumento do investimento em marketing digital e a crescente utilização das redes sociais, a análise de dados de mídia social é fundamental para obter informações relevantes e tomar decisões de negócios mais eficazes. O objetivo é utilizar PLN para rastrear dados e analisar a receptividade dos usuários às campanhas no Instagram do banco, identificar palavras-chave nos comentários e direcionar novas campanhas baseadas nos interesses dos consumidores.

**2. Solução Proposta**
Sabendo que mais de 50% da população mundial que usa redes sociais por mais de 2 horas por dia e a crescente importância do marketing nas empresas (TAPI, 2023), o BTG Pactual em parceria com o Inteli está desenvolvendo o projeto de "Análise de Sentimento das Campanhas de Marketing em Redes Sociais". Através da tecnologia de Processamento de Linguagem Natural (PLN), será desenvolvido uma ferramenta que ajudará a empresa a compreender a receptividade dos clientes às suas campanhas de marketing e nas tomadas de decisões das áreas de negócios, através da análise de sentimento e identificação de palavras-chave nos comentários dos usuários, permitindo uma resposta rápida a possíveis problemas ou oportunidades.

A análise de sentimentos dos comentários das campanhas de marketing do instagram do BTG Pactual será realizada através do Google Colaboratory, por meio deste notebook. Nas sessões seguintes serão demonstradas passo a passo de como os dados foram utilizados até a conclusão e entrega do modelo esperado, passando pelas fases: 


1. Seleção dos dados;
2. Processamento dos dados selecionados;
3. Transformação dos dados (pré-processamento);
4. Teste do modelo; e
5. Interpretação e Avaliação do modelo;

#Setup

## 1.1.Conexão com drive

Para realizar a análise, padronização e manipulação dos dados é necessário selecionar a base de dados desejada. Neste documento a importação da mesma será feita através do Google Drive e o arquivo está em formato excel (csv).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1.2. Instalando as bibliotecas

**Antes de Importar a base é necessário instalar algumas bibliotecas como:**
1. Pandas: é uma biblioteca de análise 
de dados em Python que oferece estruturas de dados e ferramentas para manipulação e análise de dados. Com o Pandas, é possível ler, escrever e manipular dados em diversos formatos, como CSV, Excel, SQL, etc. Ele oferece uma grande quantidade de funcionalidades para trabalhar com dados em Python, incluindo a capacidade de filtrar, agregar, reorganizar e transformar dados de várias maneiras.

2. TextBlob: é uma biblioteca de processamento de linguagem natural em Python. Ela oferece uma interface simples para tarefas comuns de NLP, como análise de sentimentos, correção ortográfica, extração de frases-chave e classificação de texto. O TextBlob é construído sobre a biblioteca NLTK (Natural Language Toolkit) e oferece uma sintaxe fácil de usar para muitas tarefas de processamento de linguagem natural. É uma biblioteca muito útil para análise de texto em Python.

3. Emoji: é uma biblioteca Python que permite a conversão de emojis de texto para representações de texto Unicode e vice-versa. Além disso, fornece funções úteis para trabalhar com emojis, como contar o número de emojis em uma string, remover todos os emojis de uma string e substituir cada emoji em uma string por um texto de substituição especificado.

4. Re: A biblioteca "re" é uma ferramenta para trabalhar com expressões regulares, permitindo a extração e manipulação de informações de forma eficiente. 

5. Unidecode: Unicode é um padrão de codificação de caracteres de forma universal para a representação de caracteres de todas as línguas escritas, bem como símbolos matemáticos, musicais, entre outros.

6. Enelvo.normaliser: A enelvo.normaliser é uma biblioteca específica para normalização de texto em português. Ela oferece recursos para corrigir erros de digitação, converter abreviações e substituir palavras informais por suas formas mais corretas. A função principal dessa biblioteca é auxiliar na normalização de texto, tornando-o mais padronizado e compreensível.

7. Numpy (np): A biblioteca numpy fornece estruturas de dados eficientes para manipulação e cálculos numéricos, além de funções matemáticas de alto desempenho.

8. Sklearn.feature_extraction.text.CountVectorizer: É uma classe do scikit-learn que converte uma coleção de documentos de texto em uma matriz de contagem de tokens. Cada documento é representado por um vetor onde cada elemento é o número de ocorrências de um token específico no documento.

9. Keras.preprocessing.text.Tokenizer: É uma classe do Keras que é usada para pré-processamento de texto. Ela converte texto em sequências de números inteiros (índices de palavras) ou matrizes esparsas. Também oferece recursos como tokenização, vetorização e indexação de palavras.

10. Nltk.tokenize.word_tokenize: É uma função do NLTK (Natural Language Toolkit) que divide um texto em uma lista de palavras ou tokens. É uma forma de tokenização que leva em consideração o contexto linguístico para separar as palavras.

In [10]:
pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.6)

In [11]:
pip install -U emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (2.2.0)

In [12]:
!pip install emoji --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (2.2.0)

In [13]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

In [14]:
pip install enelvo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: enelvo in /usr/local/lib/python3.10/dist-packages (0.15)
Requirement already satisfied: editdistance>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from enelvo) (0.6.2)
Requirement already satisfied: emoji==2.2.0 in /usr/local/lib/python3.10/dist-packages (from enelvo) (2.2.0)
Requirement already satisfied: gensim>=4.1.2 in /usr/local/lib/python3.10/dist-packages (from enelvo) (4.3.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from enelvo) (1.22.4)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.10/dist-packages (from enelvo) (0.8.10)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.1.2->enelvo) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.1.2->enelvo) (6.3.0)

In [15]:
import pandas as pd
from textblob import TextBlob
import emoji
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer
nltk.download('wordnet')
import re
import unidecode
from enelvo.normaliser import Normaliser
import matplotlib.pyplot as plt


import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## 1.3.Lendo CSV

In [16]:
base = pd.read_csv('/content/drive/MyDrive/baseDadosBTG/BaseBTG.csv')

A célula de código abaixo é responsável por realizar a leitura e apresentação dos dados carregados da base na etapa anterior.

**dados** - Apresenta a planilha dos comentários das campanhas de marketing do instagram do BTG Pactual

In [34]:
base

,id,"""dataPublicada""","""autor""","""texto""","""sentimento""","""tipoInteracao""","""anomalia""","""probabilidadeAnomalia""","""linkPost""","""processado""","""contemHyperlink"""
0,1,"""2022-03-04 09:38:00""",v8_capital,Confira os resultados dos nossos fundos no mês...,NEUTRAL,marcação,1,52,https://www.instagram.com/p/CarqO6drRux/,0,0
1,2,"""2022-03-04 09:29:00""",winthegame_of,A Alvarez & Marsal estará conosco no Sportainm...,NEUTRAL,marcação,0,43,https://www.instagram.com/p/CarpQUluh7z/,0,0
2,3,"""2022-03-04 09:20:00""",marta_bego,#Repost btgpactual with make_repost ・・・ Entend...,NEUTRAL,marcação,0,45,https://www.instagram.com/p/CaroK9Nu8tC/,0,0
3,4,"""2022-03-04 08:36:00""",lmviapiana,Minuto touro de ouro,POSITIVE,comentário,0,38,https://www.instagram.com/p/CapXhB5Lvas/#17977...,0,0
4,5,"""2022-03-03 21:10:00""",vanilson_dos,@ricktolledo Sim,NEUTRAL,resposta,0,17,https://www.instagram.com/p/CapXhB5Lvas/#17842...,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12350,3044013,"""2022-11-30 11:51:00""",onixcapital,Uma noite de encontros e muito conhecimento on...,NEUTRAL,marcação,1,54,https://www.instagram.com/reel/CllsqI7goSC/,0,0
12351,3044212,"""2022-11-30 12:25:00""",amgcapitalinvest,Erros financeiros para eliminar antes dos 30 a...,NEUTRAL,marcação,0,39,https://www.instagram.com/p/Cllw0CmNGkX/,0,0
12352,3044213,"""2022-11-30 12:18:00""",jayipacderota,Estou muito grato por todo o esforço que você ...,POSITIVE,comentário,1,52,https://www.instagram.com/p/CllkSBOuKlJ/#17960...,0,0
12353,3044412,"""2022-11-30 12:50:00""",moinho_cultural,"""👉GUADAKAN está chegando!!!! A aula pública e...",NEUTRAL,marcação,0,43,https://www.instagram.com/reel/ClluX-cAoaf/,0,0
12354,3045012,"""2022-11-30 14:27:00""",bfmarilia,@btgpactual pq o morning call não está mais ap...,NEGATIVE,comentário,0,28,https://www.instagram.com/p/CllkSBOuKlJ/#17975...,0,0

## 1.4.Visualização dos tipos de colunas

As colunas apresentadas na base de dados disponibilizada possui tipos diferentes de formatação, sendo divididos em:

1. **float :** Responsável por armazenar números reais com precisão de 6 casas decimais;
2. **object :** Responsável por armazenar qualquer tipo de dado genêrico, utilizado para representar características abstratas;
3. **int64 :** Dado numérico que pode armazenar valores inteiros de até 64 bits.

O código abaixo apresenta os tipos encontrados na planilha BaseBTGM6.

In [35]:
base.dtypes

id                          int64
"dataPublicada"            object
"autor"                    object
"texto"                    object
"sentimento"               object
"tipoInteracao"            object
"anomalia"                  int64
"probabilidadeAnomalia"     int64
"linkPost"                 object
"processado"                int64
"contemHyperlink"           int64
dtype: object

### 1.4.1 Retirando as "" dos nomes das colunas

Como é possível observar acima as colunas estão nomeadas com aspas, e para um melhor aproveitamento do código é preciso retirar essa pontuação dos nomes.

#### 1.4.1.1 Teste isolado da remoção das aspas

In [36]:
#Criando um dataframe para teste
teste = pd.DataFrame({'"Nome"': ['Gabriela', 'Giovanna'], '"Idade"': [20, 30]})
print(teste.head())

#Função de tirar aspas dos nomes das colunas 
def tiraAspas(teste):
    teste.columns = [col.replace('"', '') for col in teste.columns]
    return teste

#Aplicação da função
teste = tiraAspas(teste)
print(teste.head())

     "Nome"  "Idade"
0  Gabriela       20
1  Giovanna       30
       Nome  Idade
0  Gabriela     20
1  Giovanna     30

#### 1.4.1.2. Definição da função

In [41]:
def tiraAspas(base):
    base_rename = base.rename(columns=lambda x: re.sub('[\"\']', '', x))
    return base_rename

#### 1.4.1.3. Aplicação da função tiraAspas

In [42]:
# Aplicando a função na base de dados
tiraAspas(base)
#Resultado da função
base_rename

,id,dataPublicada,autor,texto,sentimento,tipoInteracao,anomalia,probabilidadeAnomalia,linkPost,processado,contemHyperlink
0,1,"""2022-03-04 09:38:00""",v8_capital,Confira os resultados dos nossos fundos no mês...,NEUTRAL,marcação,1,52,https://www.instagram.com/p/CarqO6drRux/,0,0
1,2,"""2022-03-04 09:29:00""",winthegame_of,A Alvarez & Marsal estará conosco no Sportainm...,NEUTRAL,marcação,0,43,https://www.instagram.com/p/CarpQUluh7z/,0,0
2,3,"""2022-03-04 09:20:00""",marta_bego,#Repost btgpactual with make_repost ・・・ Entend...,NEUTRAL,marcação,0,45,https://www.instagram.com/p/CaroK9Nu8tC/,0,0
3,4,"""2022-03-04 08:36:00""",lmviapiana,Minuto touro de ouro,POSITIVE,comentário,0,38,https://www.instagram.com/p/CapXhB5Lvas/#17977...,0,0
4,5,"""2022-03-03 21:10:00""",vanilson_dos,@ricktolledo Sim,NEUTRAL,resposta,0,17,https://www.instagram.com/p/CapXhB5Lvas/#17842...,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12350,3044013,"""2022-11-30 11:51:00""",onixcapital,Uma noite de encontros e muito conhecimento on...,NEUTRAL,marcação,1,54,https://www.instagram.com/reel/CllsqI7goSC/,0,0
12351,3044212,"""2022-11-30 12:25:00""",amgcapitalinvest,Erros financeiros para eliminar antes dos 30 a...,NEUTRAL,marcação,0,39,https://www.instagram.com/p/Cllw0CmNGkX/,0,0
12352,3044213,"""2022-11-30 12:18:00""",jayipacderota,Estou muito grato por todo o esforço que você ...,POSITIVE,comentário,1,52,https://www.instagram.com/p/CllkSBOuKlJ/#17960...,0,0
12353,3044412,"""2022-11-30 12:50:00""",moinho_cultural,"""👉GUADAKAN está chegando!!!! A aula pública e...",NEUTRAL,marcação,0,43,https://www.instagram.com/reel/ClluX-cAoaf/,0,0
12354,3045012,"""2022-11-30 14:27:00""",bfmarilia,@btgpactual pq o morning call não está mais ap...,NEGATIVE,comentário,0,28,https://www.instagram.com/p/CllkSBOuKlJ/#17975...,0,0

### 1.4.2.Explicação das colunas

#### 1.4.2.1.Colunas utilizadas

## 1.5. Anonimização

Anonimizar dados é importante para garantir a privacidade e a segurança das informações pessoais dos indivíduos de forma ética e responsável. Além disso, ajuda a evitar viés.

### 1.5.1.Teste isolado

In [43]:
# Criar um dataframe de exemplo
teste = pd.DataFrame({
    'autor': ['Dayllan', 'Erick', 'Gabriela', 'Giovanna', 'Lucas', 'Michel'],
    'comentario': ['Gostei do produto', 'Não gostei', 'Concordo com o Lucas', 'Achei muito caro', 'Gostei bastante', 'Não compraria de novo']
})

# Criar um dicionário para mapear cada autor ao seu identificador numérico
autores = teste['autor'].unique()
mapeamento = {autor: i+1 for i, autor in enumerate(autores)}

# Adicionar uma nova coluna com o identificador numérico
teste['autor_anonimo'] = teste['autor'].map(mapeamento)

# Exibir o resultado
print(teste)

      autor             comentario  autor_anonimo
0   Dayllan      Gostei do produto              1
1     Erick             Não gostei              2
2  Gabriela   Concordo com o Lucas              3
3  Giovanna       Achei muito caro              4
4     Lucas        Gostei bastante              5
5    Michel  Não compraria de novo              6

### 1.5.2.Definição da função de anonimação

In [19]:
# Criar um dicionário para mapear cada autor ao seu identificador numérico
autores = base_rename['autor'].unique()
mapeamento = {autor: i+1 for i, autor in enumerate(autores)}

# Adicionar uma nova coluna com o identificador numérico
base_rename['autor_anonimo'] = base_rename['autor'].map(mapeamento)

# Salvar o dataframe com a nova coluna
base_rename.to_csv('/content/drive/MyDrive/baseDadosBTG/BaseBTG.csv', index=False)

### 1.5.3. Teste da Anonimização

In [20]:
base_rename['autor_anonimo']

0           1
1           2
2           3
3           4
4           5
         ...
12350    4003
12351     697
12352    5838
12353    5103
12354    5839
Name: autor_anonimo, Length: 12355, dtype: int64

## 1.6. Formatação de Data

Esta etapa foi feita pois os cometários feitos 3 meses depois da postagem de uma campanha não são interessantes para a análise.

### 1.6.1.Teste isolado

In [45]:
# Carregar a base de dados
teste = pd.DataFrame({'dataPublicada': ['2022-01-01 10:00:00', '2022-01-02 14:30:00', '2022-01-03 20:45:00', '2022-01-04 09:15:00'] })

# Remover as aspas duplas da coluna 'dataPublicada'
teste['dataPublicada'] = teste['dataPublicada'].apply(lambda x: x.replace('"', ''))

# Imprimir a coluna 'dataPublicada' sem as aspas duplas
print(teste['dataPublicada'])

# Converter a coluna 'data' para o formato de data
teste['dataPublicada'] = pd.to_datetime(teste['dataPublicada'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Verificar se existem valores válidos na coluna 'dataPublicada'
if teste['dataPublicada'].notna().any():
    # Obter a data atual
    data_atual = pd.Timestamp.now().normalize()

    # Calcular a diferença entre cada data na coluna e a data atual
    teste['diferenca'] = abs(teste['dataPublicada'] - data_atual)

    # Verificar se existem valores válidos na coluna 'diferenca'
    if teste['diferenca'].notna().any():
        # Encontrar a data com a menor diferença
        data_mais_proxima = teste['dataPublicada'].loc[teste['diferenca'].idxmin()]

        print("A data mais próxima do dia atual é:", data_mais_proxima)
    else:
        print("Não há valores válidos na coluna 'diferenca'.")
else:
    print("Não há valores válidos na coluna 'dataPublicada'.")

# Calcular a data três meses antes da data mais próxima
data_tres_meses_antes = data_mais_proxima - pd.DateOffset(months=3)

# Filtrar apenas as datas que são três meses antes da data mais próxima
datas_filtradas = teste.loc[teste['dataPublicada'] >= data_tres_meses_antes]

print("Datas três meses antes da data mais próxima:")
print(datas_filtradas['dataPublicada'])

# Criar um novo DataFrame com as colunas que atendem à regra
dadosTeste = teste[teste['dataPublicada'] >= data_tres_meses_antes][['dataPublicada']].copy()
dadosTeste

0    2022-01-01 10:00:00
1    2022-01-02 14:30:00
2    2022-01-03 20:45:00
3    2022-01-04 09:15:00
Name: dataPublicada, dtype: object
A data mais próxima do dia atual é: 2022-01-04 09:15:00
Datas três meses antes da data mais próxima:
0   2022-01-01 10:00:00
1   2022-01-02 14:30:00
2   2022-01-03 20:45:00
3   2022-01-04 09:15:00
Name: dataPublicada, dtype: datetime64[ns]

        dataPublicada
0 2022-01-01 10:00:00
1 2022-01-02 14:30:00
2 2022-01-03 20:45:00
3 2022-01-04 09:15:00

### 1.6.2.Datas antes da formatação

In [21]:
base_rename['dataPublicada']

0        "2022-03-04 09:38:00"
1        "2022-03-04 09:29:00"
2        "2022-03-04 09:20:00"
3        "2022-03-04 08:36:00"
4        "2022-03-03 21:10:00"
                 ...
12350    "2022-11-30 11:51:00"
12351    "2022-11-30 12:25:00"
12352    "2022-11-30 12:18:00"
12353    "2022-11-30 12:50:00"
12354    "2022-11-30 14:27:00"
Name: dataPublicada, Length: 12355, dtype: object

### 1.6.3.Processando a coluna dataPublicada

In [22]:
# Remover as aspas duplas da coluna 'dataPublicada'
base_rename['dataPublicada'] = base_rename['dataPublicada'].apply(lambda x: x.replace('"', ''))

# Imprimir a coluna 'dataPublicada' sem as aspas duplas
print(base_rename['dataPublicada'])

0        2022-03-04 09:38:00
1        2022-03-04 09:29:00
2        2022-03-04 09:20:00
3        2022-03-04 08:36:00
4        2022-03-03 21:10:00
                ...
12350    2022-11-30 11:51:00
12351    2022-11-30 12:25:00
12352    2022-11-30 12:18:00
12353    2022-11-30 12:50:00
12354    2022-11-30 14:27:00
Name: dataPublicada, Length: 12355, dtype: object

In [23]:
# Converter a coluna 'data' para o formato de data
base_rename['dataPublicada'] = pd.to_datetime(base_rename['dataPublicada'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Verificar se existem valores válidos na coluna 'dataPublicada'
if base_rename['dataPublicada'].notna().any():
    # Obter a data atual
    data_atual = pd.Timestamp.now().normalize()

    # Calcular a diferença entre cada data na coluna e a data atual
    base_rename['diferenca'] = abs(base_rename['dataPublicada'] - data_atual)

    # Verificar se existem valores válidos na coluna 'diferenca'
    if base_rename['diferenca'].notna().any():
        # Encontrar a data com a menor diferença
        data_mais_proxima = base_rename['dataPublicada'].loc[base_rename['diferenca'].idxmin()]

        print("A data mais próxima do dia atual é:", data_mais_proxima)
    else:
        print("Não há valores válidos na coluna 'diferenca'.")
else:
    print("Não há valores válidos na coluna 'dataPublicada'.")

A data mais próxima do dia atual é: 2022-11-30 14:27:00

Buscando três meses antes do último registro do DataFrame

In [24]:
# Calcular a data três meses antes da data mais próxima
data_tres_meses_antes = data_mais_proxima - pd.DateOffset(months=3)

# Filtrar apenas as datas que são três meses antes da data mais próxima
datas_filtradas = base_rename.loc[base_rename['dataPublicada'] >= data_tres_meses_antes]

print("Datas três meses antes da data mais próxima:")
print(datas_filtradas['dataPublicada'])

Datas três meses antes da data mais próxima:
8323    2022-08-30 14:37:00
8324    2022-08-30 15:11:00
8325    2022-08-30 16:35:00
8326    2022-08-30 16:50:00
8327    2022-08-30 17:15:00
                ...
12350   2022-11-30 11:51:00
12351   2022-11-30 12:25:00
12352   2022-11-30 12:18:00
12353   2022-11-30 12:50:00
12354   2022-11-30 14:27:00
Name: dataPublicada, Length: 4032, dtype: datetime64[ns]

In [25]:
# Criar um novo DataFrame com as colunas que atendem à regra
dados = base_rename[base_rename['dataPublicada'] >= data_tres_meses_antes][['dataPublicada', 'autor_anonimo', 'texto', 'sentimento']].copy()

## 1.7. Base Tratada

In [26]:
dados

,dataPublicada,autor_anonimo,texto,sentimento
8323,2022-08-30 14:37:00,697,Quer visualizar o saldo de todas as suas conta...,NEGATIVE
8324,2022-08-30 15:11:00,173,Preços excelentes na hora de investir em boas ...,POSITIVE
8325,2022-08-30 16:35:00,4120,Onde consigo realizar uma simulação de seguro ...,POSITIVE
8326,2022-08-30 16:50:00,4121,Taxa adm alta e ainda taxa de performance num ...,NEUTRAL
8327,2022-08-30 17:15:00,3295,🔥 Faça parte do clube de vantagens BTG. 💯 👉🏻 ...,POSITIVE
...,...,...,...,...
12350,2022-11-30 11:51:00,4003,Uma noite de encontros e muito conhecimento on...,NEUTRAL
12351,2022-11-30 12:25:00,697,Erros financeiros para eliminar antes dos 30 a...,NEUTRAL
12352,2022-11-30 12:18:00,5838,Estou muito grato por todo o esforço que você ...,POSITIVE
12353,2022-11-30 12:50:00,5103,"""👉GUADAKAN está chegando!!!! A aula pública e...",NEUTRAL
12354,2022-11-30 14:27:00,5839,@btgpactual pq o morning call não está mais ap...,NEGATIVE

# Atividade 1: Remoção de comentários do BTGPactual

Este processo é essencial pois não queremos uma seleção enviada no pré processamento, e entendemos que os comentários do Instagram do BTG Pactual não irá comentar de forma negativa nenhuma de duas postagens.

## 1.1.Teste isolado da remoção de comentários do BTGPactual

In [46]:
# Criando um DataFrame para o teste
teste = pd.DataFrame({
    'autor': ['@btgPactual', '@inteli', '@btgPactual', '@btgPactual', '@inteli', '@SisitemasDeInformação'],
    'texto': ['Obrigada pelo feedback', 'Poderia Melhorar as transações do pix', 'Obrigada pelo feedback', 'Obrigada pelo feedback', 'Gosto muito no BTG', 'Sistemas é o melhor curso.']
})

print(teste)

# Função de retirar comentários do BTGPactual
def filtrar_dados_por_autor(teste, autor):
    # Filtra os dados por autor, removendo as linhas em que a coluna 'autor' contém a string passada como parâmetro.
    # Substitui os valores nulos (NaN) da coluna 'autor' por 'desconhecido'.
    # Retorna um novo DataFrame com as linhas filtradas.
    # Substitui os valores nulos (NaN) da coluna 'autor' por 'desconhecido'.
    teste['autor'] = teste['autor'].fillna('desconhecido')

    # Cria um novo DataFrame chamado 'dados_filtrados', que contém todas as linhas do DataFrame original (dados), exceto aquelas em que a coluna 'autor' contém a string passada como parâmetro.
    # O operador ~ é usado para selecionar todas as linhas em que a condição 'dados['autor'].str.contains(autor)' é falsa.
    dados_filtrados = teste[~teste['autor'].str.contains(autor)]
    
    return dados_filtrados

dados_filtrados = filtrar_dados_por_autor(teste, '@btgPactual')
print(dados_filtrados)

                    autor                                  texto
0             @btgPactual                 Obrigada pelo feedback
1                 @inteli  Poderia Melhorar as transações do pix
2             @btgPactual                 Obrigada pelo feedback
3             @btgPactual                 Obrigada pelo feedback
4                 @inteli                     Gosto muito no BTG
5  @SisitemasDeInformação             Sistemas é o melhor curso.
                    autor                                  texto
1                 @inteli  Poderia Melhorar as transações do pix
4                 @inteli                     Gosto muito no BTG
5  @SisitemasDeInformação             Sistemas é o melhor curso.

## 1.2. Definição de Função

Função de remoção de autor

In [27]:
def filtrar_dados_por_autor(dados, autor_anonimo):
    # Converter a coluna 'autor_anonimo' para o tipo string
    dados['autor_anonimo'] = dados['autor_anonimo'].astype(str)
    
    # Filtrar os dados por autor, removendo as linhas em que a coluna 'autor_anonimo' contém a string passada como parâmetro
    # Substituir os valores nulos (NaN) da coluna 'autor_anonimo' por 'desconhecido'
    dados_anonimos = dados[~dados['autor_anonimo'].str.contains(autor_anonimo, na=False)]
    
    return dados_anonimos

## 1.3. Testes da Função de Remoção de autor

In [28]:
dados_filtrados = filtrar_dados_por_autor(dados, 'autor_anonimo')
dados_filtrados

,dataPublicada,autor_anonimo,texto,sentimento
8323,2022-08-30 14:37:00,697,Quer visualizar o saldo de todas as suas conta...,NEGATIVE
8324,2022-08-30 15:11:00,173,Preços excelentes na hora de investir em boas ...,POSITIVE
8325,2022-08-30 16:35:00,4120,Onde consigo realizar uma simulação de seguro ...,POSITIVE
8326,2022-08-30 16:50:00,4121,Taxa adm alta e ainda taxa de performance num ...,NEUTRAL
8327,2022-08-30 17:15:00,3295,🔥 Faça parte do clube de vantagens BTG. 💯 👉🏻 ...,POSITIVE
...,...,...,...,...
12350,2022-11-30 11:51:00,4003,Uma noite de encontros e muito conhecimento on...,NEUTRAL
12351,2022-11-30 12:25:00,697,Erros financeiros para eliminar antes dos 30 a...,NEUTRAL
12352,2022-11-30 12:18:00,5838,Estou muito grato por todo o esforço que você ...,POSITIVE
12353,2022-11-30 12:50:00,5103,"""👉GUADAKAN está chegando!!!! A aula pública e...",NEUTRAL
12354,2022-11-30 14:27:00,5839,@btgpactual pq o morning call não está mais ap...,NEGATIVE

# Atividade 2: Descrição de emojis de Emojis

Emoji é uma representação gráfica que neste contexto pode expressar sentimentos. Sendo assim foi utilizado um método de tradução e interpretação do emoji.

## 2.1.Teste isolado para função de descrição de emojis

In [ ]:
# criando DataFrame de teste
teste = pd.DataFrame({'texto': ['Oi 👋', 'Tudo bem? 😊', '🌞☕']})
teste['texto']

# define a função de remoção de emojis
def removeEmoji():
    remove_emoji = lambda x: emoji.demojize(str(x)).replace(":", "").strip()
    return remove_emoji

# Aplica a função 
teste['textoLimpo'] = teste['texto'].apply(removeEmoji())
teste['textoLimpo']

0                              Oi waving_hand
1    Tudo bem? smiling_face_with_smiling_eyes
2                   sun_with_facehot_beverage
Name: textoLimpo, dtype: object

## 2.2. Descrição da função

In [29]:
# define a função de remoção de emojis
def removeEmoji():
    remove_emoji = lambda x: emoji.demojize(str(x)).replace(":", "").strip()
    return remove_emoji

## 2.3. Teste da função

In [30]:
# aplica a função à coluna "texto" do DataFrame

dados['textoLimpo'] = dados_filtrados['texto'].apply(removeEmoji())
dados['textoLimpo']

8323     Quer visualizar o saldo de todas as suas conta...
8324     Preços excelentes na hora de investir em boas ...
8325     Onde consigo realizar uma simulação de seguro ...
8326     Taxa adm alta e ainda taxa de performance num ...
8327     fire Faça parte do clube de vantagens BTG. hun...
                               ...
12350    Uma noite de encontros e muito conhecimento on...
12351    Erros financeiros para eliminar antes dos 30 a...
12352    Estou muito grato por todo o esforço que você ...
12353    "backhand_index_pointing_rightGUADAKAN está ch...
12354    @btgpactual pq o morning call não está mais ap...
Name: textoLimpo, Length: 4032, dtype: object

# Atividade 3: Remoção de pontuações e acentos.

As pontuações e acentos não carregam significado semântico ou lexical relevante. O uso deles pode dificultar a análise de textos e a comparação de palavras. Além de poder tornar mais difícil o treinamento e a aplicação de modelos de PLN. Logo o processo de remoção de pontuações e acentos pode ajudar a normalizar o texto e reduzir o número de recursos que precisam ser analisados e comparados.

## 3.1.Remoção de pontuações

###3.1.1 Teste isolado

Foi utilizado o parâmetro [^\w\s]|_ para localizar e substituir caracteres não alfanuméricos em uma string.

In [47]:
#Criando dataframe para teste isolado 
teste = pd.DataFrame({'texto': ['@BTGPacual tem como ajudar a @Ana_clara #obrigado!', 'Olá!@BtgPac_tual Tudo bem_?']})

def removeCaracteres(texto):
    if isinstance(texto, str):# verifica se o que está sendo processado é uma string
        return re.sub(r'[^\w\s]|_', ' ', texto)#substituir todos os caracteres especiais por uma string vazia 
    else:
        return texto
# define a função de remoção de caracteres
remove_caracteres = lambda x: removeCaracteres(str(x))
#Aplica a função 
teste['texto'] = teste['texto'].apply(remove_caracteres)
teste['texto']

0     BTGPacual tem como ajudar a  Ana clara  obrig...
1                          Olá  BtgPac tual Tudo bem
Name: texto, dtype: object

## 3.1.2.Definição da função remove caracteres especiais

Foi utilizado o parâmetro [^\w\s] para localizar e substituir caracteres não alfanuméricos em uma string.

In [31]:
def removeCaracteres(text):
    if isinstance(text, str):# verifica se o que está sendo processado é uma string
        return re.sub(r'[^\w\s]', '', text)#substituir todos os caracteres especiais por uma string vazia 
    else:
        return text
# define a função de remoção de caracteres
remove_caracteres = lambda x: removeCaracteres(str(x))

## 3.1.3. Teste da função remove caracteres

In [32]:
# aplica a função à coluna "textoLimpo" do DataFrame
dados['textoLimpo'] = dados['textoLimpo'].apply(remove_caracteres)
dados['textoLimpo']

8323     Quer visualizar o saldo de todas as suas conta...
8324     Preços excelentes na hora de investir em boas ...
8325     Onde consigo realizar uma simulação de seguro ...
8326     Taxa adm alta e ainda taxa de performance num ...
8327     fire Faça parte do clube de vantagens BTG hund...
                               ...
12350    Uma noite de encontros e muito conhecimento on...
12351    Erros financeiros para eliminar antes dos 30 a...
12352    Estou muito grato por todo o esforço que você ...
12353    backhand_index_pointing_rightGUADAKAN está che...
12354    btgpactual pq o morning call não está mais apa...
Name: textoLimpo, Length: 4032, dtype: object

## 3.2.Remoçaõ de acentos

### 3.2.1.Teste isolado função retira acentos

In [ ]:
#Criando dataframe para teste isolado 
teste = pd.DataFrame({'texto': ['Olá como vai você?', 'Função de remoção']})
teste
# define a função de remoção de acentos
def removeAcentos(x):
    return unidecode.unidecode(x) if isinstance(x, str) else x
# aplica a função no DataFrame
teste['texto'] = teste['texto'].apply(removeAcentos)
teste['texto']

0    Ola como vai voce?
1     Funcao de remocao
Name: texto, dtype: object

## 3.2.2.Definição da função retira acentos

 A função unidecode.unidecode(x) é utilizada para remover caracteres acentuados e outros caracteres especiais de strings.

In [33]:
# define a função de remoção de acentos
def removeAcentos(x):
    return unidecode.unidecode(x) if isinstance(x, str) else x

## 3.2.3 Teste da função retira acentos

In [48]:
# aplica a função à coluna "textoLimpo" do DataFrame
dados['textoLimpo'] = dados['textoLimpo'].apply(removeAcentos)
dados['textoLimpo']

8323     Quer visualizar o saldo de todas as suas conta...
8324     Precos excelentes na hora de investir em boas ...
8325     Onde consigo realizar uma simulacao de seguro ...
8326     Taxa adm alta e ainda taxa de performance num ...
8327     fire Faca parte do clube de vantagens BTG hund...
                               ...
12350    Uma noite de encontros e muito conhecimento on...
12351    Erros financeiros para eliminar antes dos 30 a...
12352    Estou muito grato por todo o esforco que voce ...
12353    backhand_index_pointing_rightGUADAKAN esta che...
12354    btgpactual pq o morning call nao esta mais apa...
Name: textoLimpo, Length: 4032, dtype: object





# Atividade 4: Conversão de gírias e abreviações

## 4.1. Teste Isolado que remove as gírias e abreviações

In [49]:
norm = Normaliser(tokenizer='readable')

mensagem = 'Até hj vc n me respondeu. Oq aconteceu?'
resposta = norm.normalise(mensagem)
print(resposta)

até hoje você não me respondeu . o que aconteceu ?

## 4.2. Definição da Função de remoção das gírias e abreviações

In [50]:
# Dicionário de gírias e abreviações para normalização
dicionario_girias = {
    'vc': 'você',
    'vcs':'você',
    'Vc': 'você',
    'pq': 'porque',
    'tbm': 'também',
    'q': 'que',
    'td': 'tudo',
    'blz': 'beleza',
    'flw': 'falou',
    'kd': 'cadê',
    'to': 'estou',
    'mt': 'muito',
    'cmg': 'comigo',
    'ctz': 'certeza',
    'jah': 'já',
    'naum': 'não',
    'ta': 'está',
    'eh': 'é',
    'vlw': 'valeu',
    'p': 'para',
    'qnd': 'quando',
    'msm': 'mesmo',
    'fzr': 'fazer',
    'agr': 'agora'
    }

# Conjunto de palavras a serem desconsideradas encontradas em pré-processamento exploratório
palavras_desconsideradas = {
    "warrenbrasil", "sportainmetâ", "sportainmentâ", "hubstage", "kaletsky", "scandiuzzi", "futofmoney",
    "disclaimer", "astraoficialbr", "furnasenergia", "alelobrasil", "bancodaycoval", "grupohagana",
    "steinwaybrasil", "joseavillez", "dianaroth", "beachtennis", "alliancejjteam", "fabiogurgel",
    "masterjacare", "gigipaivabjj", "clubefiinews", "mouratoglou", "octocapitalbr"}

# Função para normalizar o texto substituindo gírias e abreviações
def normalizar_texto(texto):
    palavras = texto.split()
    palavras_normalizadas = []
    
    for palavra in palavras:
        # Verificar se a palavra está no conjunto de palavras desconsideradas ou é igual a "criptomoedas"
        if palavra in palavras_desconsideradas or palavra == 'criptomoedas':
            # Se for uma palavra desconsiderada, adicionar à lista sem fazer alterações
            palavras_normalizadas.append(palavra)
        else:
            # Caso contrário, substituir gírias e abreviações normalmente
            palavra_normalizada = dicionario_girias.get(palavra, palavra)
            palavras_normalizadas.append(palavra_normalizada)
    
    texto_normalizado = ' '.join(palavras_normalizadas)
    
    return texto_normalizado

# Aplicar a função de normalização na coluna "textoLimpo" do DataFrame
dados['texto_normalizado'] = dados['textoLimpo'].apply(normalizar_texto)

## 4.3. Teste da Função que remove as gírias e abreviações

In [ ]:
#Frase original
print(dados['texto'].iloc[104])
#Frase normalizada com a remoção de abreviações
print(dados['texto_normalizado'].iloc[104], "\n")

#Frase original
print(dados['texto'].iloc[206])
#Frase normalizada com a remoção de abreviações
print(dados['texto_normalizado'].iloc[206])





#Atividade 5: Tokenização e remoção de StopWords

## 5.1. Teste Isolado que tokeniza e Remove StopWords

In [ ]:
# Definição da frase de entrada
frase = "Agradecemos o seu feedback!"

# Converter a frase para letras minúsculas
frase = frase.lower()

# Tokenização da frase
tokens = word_tokenize(frase)

# Remoção das stop words
stop_words = set(stopwords.words('portuguese'))
tokens_sem_stopwords = [token for token in tokens if token not in stop_words]

# Imprimir os tokens resultantes
print("Tokens:")
print(tokens_sem_stopwords)

## 5.2 Definição da Função de Tokenização e Remoção de StopWords

In [ ]:
# Definição da frase de entrada
palavras = dados['texto_normalizado']

def processarTexto(text):
    # Converter palavras da frase para minúsculas
    text = text.lower() 
    # Tokenizar o texto em palavras
    tokens = word_tokenize(text) 
    # Remover stopwords das palavras tokenizadas
    stop_words = stopwords.words('portuguese') 
    # Retorna a lista de comentários sem as palavras setadas para serem removidas
    tokens = [token for token in tokens if token not in stop_words] 
    # Retorna o resultado da frase tokenizada, sem stopWords
    return tokens

tokens_processados = dados['texto_normalizado'].map(processarTexto)

## 5.3. Teste da Função que tokeniza e remove StopWords

In [ ]:
# Acessar o valor da coluna 'texto_normalizado' na linha 30
valor_30 = dados['texto_normalizado'].iloc[206]
print(valor_30)

# Processar o texto e redefinir o índice do DataFrame
tokens_processados = palavras.map(processarTexto).reset_index(drop=True)

# Acessar o token na linha 30
token30 = tokens_processados[206]
print(token30)





# Atividade 6: Vetorização

## 6.1. Teste Isolado

In [ ]:
# Definição da frase de entrada
frase = "Agradecemos o seu feedback!"

# Cria o vetorizador para o modelo Bag of Words
vectorizer = CountVectorizer(token_pattern=r"(?u)\b\w+\b")

# Aplica o vetorizador à frase para criar a representação Bag of Words
bow_representation = vectorizer.fit_transform([frase])

# Obtém o dicionário de palavras
dicionario = vectorizer.vocabulary_

# Imprimir a representação Bag of Words
print("Representação Bag of Words:")
print(bow_representation.toarray())

## 6.2. Definição da Função de Vetorização

In [ ]:
def bag_of_words(frases):
    # Cria o vetorizador para o modelo Bag of Words
    vectorizer = CountVectorizer()

    # Concatena os tokens de cada frase em uma única string
    frases_concatenadas = [' '.join(tokens) for tokens in frases]

    # Aplica o vetorizador aos textos para criar a representação Bag of Words
    bow_representation = vectorizer.fit_transform(frases_concatenadas)

    # Obtém o dicionário de palavras
    dicionario = vectorizer.vocabulary_

    return bow_representation, dicionario

# Definição da frase de entrada
palavras = tokens_processados

# Aplicar a função de Bag of Words
bow_representation, dicionario = bag_of_words(palavras)

## 6.3. Teste da Função de Vetorização

In [ ]:
# Imprimir o dicionário de palavras
print("Dicionário de palavras:")
print(dicionario, "\n")

# Imprimir a representação Bag of Words
print("Representação Bag of Words:")
print(bow_representation.toarray())





# Atividade 7: Tratamento das Datas

In [ ]:
graf_dados = dados.loc[dados['dataPublicada'] >= data_tres_meses_antes, ['dataPublicada', 'autor_anonimo', 'texto_normalizado', 'sentimento']].copy()

# Gráfico Data X Sentimento

Esse gráfico auxilia a analisar a tendência temporal dos sentimentos nos comentários. O gráfico de linhas mostra como os sentimentos (positivo, negativo e neutro) variam ao longo do tempo. Essa análise permite identificar padrões e tendências nos sentimentos expressos nos comentários, fornecendo insights sobre a evolução das opiniões e emoções dos usuários ao longo do tempo.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Agrupar por data e sentimento e contar o número de ocorrências
data_sentimento_counts = graf_dados.groupby(['dataPublicada', 'sentimento']).size().unstack()

# Resample dos dados para uma frequência menor
data_sentimento_resampled = data_sentimento_counts.resample('1D').sum()  # Resample por intervalos de 7 dias, ajuste conforme necessário

# Criar uma figura com tamanho personalizado
fig, ax = plt.subplots(figsize=(10, 6))

# Plotar o gráfico de linhas na figura
data_sentimento_resampled.plot(kind='line', marker='o', ax=ax)

# Configurar os rótulos dos eixos
ax.set_xlabel('Data de Publicação')
ax.set_ylabel('Número de Comentários')
ax.set_title('Tendência Temporal dos Sentimentos (Amostra Resample)')

# Remover valores NaN e Inf
data_sentimento_cleaned = data_sentimento_resampled.replace([np.inf, -np.inf], np.nan).dropna()
y_max = data_sentimento_cleaned.values.max()

# Traçar uma linha horizontal em cada marcação do eixo do número de comentários
for tick in ax.get_yticks():
    ax.axhline(tick, color='lightgray', linestyle='--')

# Definir os limites do eixo y
# ax.set_ylim(0, y_max + 2)

# Exibir a legenda
ax.legend()

# Exibir o gráfico
plt.show()

In [ ]:
# Agrupar por autor e sentimento e contar o número de ocorrências
autor_sentimento_counts = dados.groupby(['autor_anonimo', 'sentimento']).size().unstack()

# Calcular o número total de ocorrências de sentimentos por autor
autor_total_counts = autor_sentimento_counts.sum(axis=1)

# Selecionar os top 5 autores mais relevantes
top_autores = autor_total_counts.nlargest(5).index

# Filtrar o DataFrame original apenas para os top 5 autores
autor_sentimento_counts_top5 = autor_sentimento_counts.loc[top_autores]

# Obter os valores dos sentimentos
sentimentos = ['NEGATIVE', 'NEUTRAL', 'POSITIVE']

# Definir as cores para cada sentimento
cores = ['blue', 'orange', 'green']

# Criar uma figura com tamanho personalizado
fig, ax = plt.subplots(figsize=(10, 6))

# Obter a quantidade de autores
quantidade_autores = len(top_autores)

# Definir a largura das barras
largura_barra = 0.2

# Definir a posição dos grupos de barras no eixo x
posicao_barras = range(quantidade_autores)

# Plotar as barras
for i, sentimento in enumerate(sentimentos):
    valores = autor_sentimento_counts_top5[sentimento]
    ax.bar(posicao_barras, valores, width=largura_barra, label=sentimento, color=cores[i])

    # Atualizar a posição das barras para o próximo grupo
    posicao_barras = [pos + largura_barra for pos in posicao_barras]

# Configurar os rótulos dos eixos
ax.set_xlabel('Código do Autor')
ax.set_ylabel('Número de Ocorrências')
ax.set_title('Gráfico de Dispersão para Sentimento e Autor (Top 5)')

# Definir os rótulos do eixo x
ax.set_xticks(range(quantidade_autores))
ax.set_xticklabels(top_autores)

# Exibir a legenda
ax.legend()

# Exibir o gráfico de barras
plt.show()

# Gráfico Word Cloud geral sem seleção de data

O gráfico de Word Cloud serve para visualizar de forma intuitiva as palavras mais frequentes em um conjunto de dados textuais. Ele ajuda a identificar os termos que aparecem com maior frequência e fornece uma representação visual das palavras mais relevantes. Isso pode ser útil para compreensão geral dos principais temas ou tópicos abordados nos comentários.

In [ ]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

# Definir cores para cada sentimento
sentimento_cores = {
    'NEGATIVE': '#0000FF',  # Azul
    'NEUTRAL': '#FFA500',   # Laranja
    'POSITIVE': '#008000'   # Verde
}

# Definir cor padrão para palavras sem sentimento definido
cor_padrao = 'black'

# Definir cores personalizadas com base no sentimento
def color_func(word, font_size, position, orientation, random_state=None, **kwargs):
    sentimento = dados.loc[dados['texto_normalizado'].str.contains(word), 'sentimento'].values
    if len(sentimento) > 0:
        sentimento = sentimento[0]
        return sentimento_cores.get(sentimento, cor_padrao)
    else:
        return cor_padrao

# Converter cada lista de tokens em uma string
textos = [' '.join(tokens) for tokens in tokens_processados]

# Concatenar todas as strings em uma única string
textos_concatenados = ' '.join(textos)

# Criar a Word Cloud com cores personalizadas
wordcloud = WordCloud(width=800, height=400, background_color='white', color_func=color_func).generate(textos_concatenados)

# Plotar a Word Cloud
plt.figure(figsize=(10, 6))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.title('Nuvem de Palavras')
plt.show()

# Gráfico de Word Cloud: Análise de Palavras Mais Frequentes em Comentários durante Período de Picos

In [ ]:
#Gráfico Word Cloud a partir da datas com maiores picos de comentários
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Mapear os sentimentos para as cores correspondentes
sentimento_cores = {
    'NEGATIVE': '#0000FF',  # Azul
    'NEUTRAL': '#FFA500',   # Laranja
    'POSITIVE': '#008000'   # Verde
}

# Definir cor padrão para palavras sem sentimento definido
cor_padrao = 'black'

# Definir cores personalizadas com base no sentimento
def color_func(word, font_size, position, orientation, random_state=None, **kwargs):
    sentimento = graf_dados.loc[graf_dados['texto_normalizado'].str.contains(word), 'sentimento'].values
    if len(sentimento) > 0:
        sentimento = sentimento[0]
        return sentimento_cores.get(sentimento, cor_padrao)
    else:
        return cor_padrao

# Converter a coluna 'dataPublicada' para o tipo datetime
graf_dados['dataPublicada'] = pd.to_datetime(graf_dados['dataPublicada'], format='%d-%m-%Y')

# Filtrar o DataFrame com base nas datas
data_inicio = pd.to_datetime('01-09-2022', format='%d-%m-%Y')
data_fim = pd.to_datetime('01-12-2022', format='%d-%m-%Y')
textos_filtrados = graf_dados[(graf_dados['dataPublicada'] >= data_inicio) & (graf_dados['dataPublicada'] <= data_fim)]['texto_normalizado']

# Concatenar os textos filtrados em uma única string
textos_concatenados = ' '.join(textos_filtrados)

# Processar o texto concatenado para gerar os tokens
stop_words = set(stopwords.words('portuguese'))
tokens_processados = [token for token in word_tokenize(textos_concatenados.lower()) if token not in stop_words]

# Converter os tokens processados de volta para uma string
textos_processados = ' '.join(tokens_processados)

# Criar a Word Cloud com cores personalizadas
wordcloud = WordCloud(width=800, height=400, background_color='white', color_func=color_func).generate(textos_processados)

# Plotar a Word Cloud
plt.figure(figsize=(10, 6))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.title('Nuvem de Palavras (01-12-2022 a 15-12-2022)')
plt.show()